{if="$success != ''"}
  <meta http-equiv="refresh" content="3;url= /login">
{/if}
  <body class="hold-transition login-page">
    {if="$success != ''"} <!-- Success if-->
    <div class="login-box">
      <div class="login-logo">
        <a href="/"><b>CADON</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="text-center text-muted"><small>A pagina será atualizada em <b id="timer"></b></small></div>
      <div class="card">
        <div class="card-body login-card-body text-center">
          <h4 class="text-success">{$success}</h4>
          <p class="mt-3 mb-1 ">
            <a href="/login">
            <button type="button" class="btn btn-outline-info">Fazer Login</button>
          </a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  
{else} <!-- Success else -->
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>CADON</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        {if="$error != ''"}
          <div class="alert alert-danger">
              {$error}
          </div>
        {/if} 
        <p class="login-box-msg">Você está a um passo da sua nova senha, recupere ela agora.</p>
        
        <form action="/forgot-password/reset" method="post">
          <input type="hidden" name="selector" value="{$code}" />
          <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="Senha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="re-password" placeholder="Confirmar Senha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Atualizar Senha</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
{/if} <!-- End Success if-->

