/* Style */


/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  
  /*//////////////////////////////////////////////////////////////////
  [ FONT ]*/
  
  @font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }

  @font-face {
    font-family: Marcellus-Regular;
    src: url('../fonts/Marcellus/Marcellus-Regular.ttf'); 
  }
  
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

a {
    color: black;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {

    color: black;
}

html, body {
    height: 100%;
    width: 100%;
    
}

/* ---------------------------------------------
 * - index -------------------------------------
 * ---------------------------------------------
 */

 /* Branding */
.navbar-brand {
    font-family: 'Marcellus-Regular', serif;
}

 /* Sections */
#section-cards {
    background-color: rgba(222, 222, 222, .9);
    padding: 40px 40px;
}

#section-cards {
    background-color: rgba(222, 222, 222, .9);
    padding: 40px 40px;
}

#section-comment{
    background-color: aliceblue;
}

#section-comment img{
    max-width: 300px;
}

#section-comment .stretched-link{
    color: blue;
    
}

#section-comment .stretched-link:hover{
    color: #DB7369;
    transition: 0.84s;
}

#section-comment .stretched-link::after {
    position: relative;
    
}

.nav-top-link {
    background: #17a2b8;
}
.nav-top-link:hover {
    background: #1094a8;
    cursor: pointer;
}

#index footer {
    background: #4F3F3E;
}



/* ---------------------------------------------
 * - login -------------------------------------
 * ---------------------------------------------
 */
 
#login {
    position: fixed;
    background: url('../images/login-backgroud.png') no-repeat;
    background-size: cover;

}

.form-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.form-center {
    width: 500px;

}

.form-center > form{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.947);
    color: black;
    
}

.branding-link {
    transition: 1.4s;
    color: grey;
}

.branding-link:hover {
    transition: 1.4s;
    color: #DB7369;
}

.form-center h3 {
    text-align: center;
    font-family: 'Marcellus-Regular', serif;
}

.branding-fab {
    font-size: 48px;
    text-align: center;
}

.form-group-btn{
    text-align: center;
}

.form-center .form-group > button{
    background: #DB7369;
    border: none;
    padding: 15px 60px 15px 60px;
}

/* ---------------------------------------------------
 * - Application -------------------------------------
 * ---------------------------------------------------
 */

 #app-main
 {
     height: 100vh;
     background-color: rgba(222, 222, 222, .9);
 }

 #app-main .container
 {
    padding-top: 80px;
 }

 #app-main .menu
 {
    margin-bottom: 25px;
 }

#app-main .list-itens
 {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    /* padding: 16px 15px 5px 30px; */
    padding: 25px;
    
 }

 #app-main tbody tr:hover
 {
    background-color: gainsboro;
    cursor: pointer;
    
 }

/*------------------------------------------------------------------
[ Responsive - Cards]*/

@media (max-width: 991px) {
    #section-cards .card {
        width: 16rem;

    }
}

@media (max-width: 820px) {
    #section-cards .card {
        width: 12rem;
        
    }
}

@media (max-width: 767px) {
    #section-cards .col-md-4:nth-child(2n) {
        padding-top: 20px;
        padding-bottom: 20px;
        
    }

    #section-cards .card {
        width: 32rem;
        
    }

    #section-comment .col-md-6{
        margin-top: 15px;
    }
}

@media (max-width: 630px) {
    #section-cards .card {
        width: 24rem;
        
    }

    #section-comment .col-md-6{
        margin-top: 15px;
    }
}

@media (max-width: 414px) {
    #section-cards .col-md-4:nth-child(2n) {
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
}

@media (max-width: 320px) {
    #section-cards .card {
        width: 12rem;
        
    }
}